@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Management</h1>
    <p>Student Management provides an online platform to manage <em>Student Details, Courses and Enrollment</em> in a connected and web enabled environment.</p>
</div>
